body {
  background-color: lightgray; /* gray */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.legend {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.legend-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
.metric-container {
  overflow-y: auto;
}
.legend-container {
  display: flex;
  align-items: center;
}
.legend-item {
  display: flex;
  align-items: center;
}
.legend-color {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

button {
  background-color: #f0f0f0;
  border: none;
  padding: 10px;
  cursor: pointer;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.react-grid-item:hover {
  z-index: 1000;
  position: relative;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.metric-container {
  overflow-y: auto;
}

.draggable-widget { 
  width: 100%;
  height: 90%;
  overflow-y:auto;
}
/* Grid line 보이기 */
.react-grid-layout .react-draggable-dragging {
  background: repeating-linear-gradient(
      0deg,
      #ddd,
      #ddd 1px,
      #fff 1px,
      #fff 100%
    ),
    repeating-linear-gradient(
      -90deg,
      #ddd,
      #ddd 1px,
      #fff 1px,
      #fff 100%
    );
}
.layout {
  background: rgba(0, 0, 0, 0.1);
}

.layout::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:
    linear-gradient(0deg, transparent 24px, rgba(0, 0, 0, 0.1) 25px, transparent 26px),
    linear-gradient(90deg, transparent 24px, rgba(0, 0, 0, 0.1) 25px, transparent 26px);
  background-size: 50px 50px;
  z-index: -1;
}

.react-resizable-handle  {
  z-index: 1000; /* Adjust this value to a suitable number */
  position:relative;
}
.react-grid-item > .react-resizable-handle {
  z-index: 1000; /* Set a high z-index value */
}
.draggable-widget-title {
  color : blue;
}