.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.draggable-widget {
  width: 100%;
  height: 100%;
}
/* Grid line 보이기 */
.react-grid-layout .react-draggable-dragging {
  background: repeating-linear-gradient(
      0deg,
      #ddd,
      #ddd 1px,
      #fff 1px,
      #fff 100%
    ),
    repeating-linear-gradient(
      -90deg,
      #ddd,
      #ddd 1px,
      #fff 1px,
      #fff 100%
    );
}